html {
	background: url('../img/508795172.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}


h1 {
  font-family: Verdana;
  color: #36648b;
}


#header{
	float:left;
	height: 50px;
	margin-bottom: 10px;
}


#tag{
	float:right;
	height: 50px;
	margin-bottom: 10px;
}

li a {
	margin-left: 2px
	font-family: Futura, Tahoma, sans-serif;
	font-size: 12px;
	padding: 5px;
	text-align: justify;
	word-wrap: break-word;
	color: #000000;
}
