html {
	background: url(img/508795172.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}



h1 {
  font-family: Verdana;
  color: #36648b;
  text-align:center;
}
#header{
	height: 50px;
	margin-bottom: 10px;
	text-align:center;
}


#tag{
	top:20px;
	margin-bottom: 10px;
   	margin-right: -50%; 
}

li a {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	padding: 5px;
}
