body{
	font-size: 100%;
	font-family: Arial;
	line-height: 2;
	text-align: left;
}

a{
	text-decoration: none;
}

.body{
	margin: 0 auto;
	width: 80%;
	clear: both;
}
.header h1{
	width:30%;
	float: left;
	height: 40px;
}

.header nav{
	width:70%;
	float:left;
	height: 40px;
}

.header nav ul{
	list-style-type: none;
}

.header nav ul li{
	float: left;
	display: inline;
	margin-left: 2px
}

.header nav a:link, .header nav a:visited {
	margin-left: 2px
	padding: 10px 25px;
	color: #000000;
}
.header nav a:hover{
	color: #EE82EE
}

.left{
	
	width: 50%;
	float: left;
	
}
.left {
	background: url('../img/508795172.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}


.right{
	width:50%;
	float:left;
	background-color: #fff0f5;
	padding: 2% 3%;
}


/*
h1 {
  font-family: Verdana;
  color: #36648b;
}


.header h1{
	float:left;
	height: 50px;
	margin-bottom: 10px;
}

#header ul{
	float:right;
	height: 50px;
	margin-bottom: 10px;
	margin:0;
	padding:0;
	list-style-type: none;
}

#header ul li{
	display: inline;
}

#header ul li a {
	text-decoration: none;
	margin-left: 2px
	font-family: Futura, Tahoma, sans-serif;
	font-size: 20px;
	padding: .2em 1em;
	text-align: justify;
	word-wrap: break-word;
	color: #000000;
}

#header ul li a:hover{
	color: #EE82EE
}


#left {
	float:left;

	background: url('../img/508795172.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}

#right {
	float:right;

	background-color: #fff0f5;	 
}

#right h3 {
	font-size: 50px;
	color: #000000;
}

#right p{
	font-size: 12px;
	color:#000000;
}
*/
